#landing
  .topnav(
    scroll-position="scrollPosition"
    ng-class="{'white': scrollPosition > 80}"
  )
    .container
      .row
        .col-md-12
            .link(
              du-smooth-scroll="home"
            ) HOME
            .link(
              du-smooth-scroll="about"
            ) ABOUT
            .link(
              du-smooth-scroll="features"
            ) FEATURES
            //- .link(
            //-   du-smooth-scroll="pricing"
            //- ) PRICING
            //- .link(
            //-   du-smooth-scroll="support"
            //- ) SUPPORT
            
  #home.hero
    .container
      .row
        .col-md-6
          .logo 
            | NOTEMAN BETA
            <br>
            i.fa.fa-smile-o
        .col-md-4
          .cta
            .description 
              | Take Notes. <br>
              | Find Notes. <br>
              | Save Time.
          
            button.login(
              ng-click="loginWithFacebook()"
            )
              i.fa.fa-facebook
              .text Sign in with Facebook

  #about.info
    .container
      .row
        .col-md-12 
          h1 Taking Notes is Easy
      .row
        .col-md-6
          ul
            li Take notes using <b>markdown</b>
            li Powerful search tools
            li Tree based topics for organization
            li Your notes are encrypted and safe with us
          
        .col-md-6
          img.laptop(
            src="assets/images/laptop_med.png"
          )
      .row
        .col-md-12
          h1 Automatic Analytics
          
      .row
        .col-md-6
          img.laptop(
            src="assets/images/laptop_b.png"
          )
        .col-md-6
          ul
            li Annotate you notes with quantitative text 
            li Line, bar, and pie charts are automatically created using your notes
            li Share notes and topics
            li Automatically view your notes on a calendar 
            
      .row 
        .col-md-6
          h1 Calendar
          img.laptop(
            src="assets/images/laptop_c.png"
          )
        .col-md-6
          h1 Tags
          img.laptop(
            src="assets/images/laptop_d.png"
          )
      
      .row.facebook
        .col-md-4
        .col-md-4
          button.login(
            ng-click="loginWithFacebook()"
          )
            i.fa.fa-facebook
            .text Sign in with Facebook
          
  #features.features
    .container
      .row
        .col-md-12
          h1 Features
      .row
        .col-md-4
          .bullet
            i.fa.fa-key
            h1 Encrypted
            span Noteman encrypts your notes before hitting our servers.  You hold the key.
        .col-md-4
          .bullet
            i.fa.fa-calendar
            h1 Calendar
            span View your time based notes in a calendar
            
        .col-md-4
          .bullet
            i.fa.fa-line-chart
            h1 Analyics
            span We'll create analytics using your notes
        
      .row.mt4
        .col-md-4
          .bullet
            i.fa.fa-tags
            h1 Tags
            span Taging notes is easy for grouping them how you'd like them
        
        .col-md-4
          .bullet
            i.fa.fa-bookmark
            h1 Topics
            span Group your notes into tree based topics for better organization
        
        .col-md-4
          .bullet
            i.fa.fa-search
            h1 Search
            span Use our powerful search tool for find the note you need instantly
            
  //- #pricing
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         span $1.99 / month
