.header
  .right
    .logout
      span(
        ng-click="logout()"
      )
        i.fa.fa-sign-out
        | Logout 

.content
  .container-fluid
    .row
      .col-md-10
        .crums
          .crum(
            ng-click="goto(user.data)"
          ) 
            .word Home
          
          .crum(
            ng-repeat="crum in bread"
            ng-click="goto(crum)"
          ) 
            i.fa.fa-caret-right
            .word {{crum.title}}
          
    .row
      .col-md-3
        div
          //- .top
          //-   span(
          //-     ng-show="!editingTitle"
          //-   ) {{current.title || "Home"}}
          //-   input(
          //-     type="text"
          //-     ng-model="current.title"
          //-     ng-show="editingTitle"
          //-   )
          //-   i.fa.fa-pencil(
          //-     ng-click="editingTitle = true"
          //-     ng-show="!editingTitle && current.title"
          //-   )
          //-   i.fa.fa-save(
          //-     ng-click="editingTitle = false; save()"
          //-     ng-show="editingTitle && current.title"
          //-   )
          .folders
            .add
              button(
                ng-click="addTopic()"
              )
                i.fa.fa-plus
                | New Topic
                
              button.delete(
                ng-show="current.parent"
                ng-click="deleteTopic(current)"
              )
                i.fa.fa-remove
                | Delete Topic
                
            .empty(
              ng-show="!current.topics.length || current.topics.length === 0"
            )
              h5 There are no topics
            
            .folder(
              ng-click="openTopic(topic)"
              ng-repeat="topic in current.topics"
              ng-style="{'background-color': getColor($index)}"
              ng-mouseover="topic.hovered = true"
              ng-mouseleave="topic.hovered = false"
            ) 
              .tab(
                ng-style="{'background-color': getColor($index)}"
              )
                i.fa.fa-bookmark-o
              .title(
                ng-click="topic.editing = true"
                ng-show="!topic.editing"
              ) {{topic.title}}
              input.topic(
                type="text"
                ng-show="topic.editing"
                ng-model="topic.title"
                ng-click="$event.stopPropagation();"
                ng-class="{'focus': topic.focus}"
                ng-enter="$event.stopPropagation(); topic.editing = false; save()"
              )
              i.fa.fa-save(
                ng-show="topic.editing"
                ng-click="$event.stopPropagation(); topic.editing = false; save()"
              )
              i.fa.fa-pencil(
                ng-show="topic.hovered && !topic.editing"
                ng-click="$event.stopPropagation(); topic.editing = true"
              )
              .count 
                .circle 
                span(
                  ng-class="{'double': count(topic) > 9}"
                ) {{count(topic)}}

      .col-md-9.middle
        .row.toolbar
          .col-md-12
          
            .search
              input(
                type="text"
                ng-model="search"
                placeholder="search through your notes"
              )
              i.fa.fa-search
              
            .addNote(
              ng-show="showPanel === 'notes'"
            )
              button(
                ng-click="addNote()"
              )
                i.fa.fa-plus
                | New Note
              
            .showNotes
              button(
                ng-show="showPanel !== 'notes'"
                ng-click="showPanel = 'notes'"
              )
                i.fa.fa-sticky-note
                | Notes
                
            .showCalendar
              button(
                ng-show="showPanel !== 'calendar'"
                ng-click="showPanel = 'calendar'"
              )
                i.fa.fa-calendar
                | Calendar
                
            .showTags
              button(
                ng-show="showPanel !== 'tags'"
                ng-click="showPanel = 'tags'"
              )
                i.fa.fa-tags
                | Tags
                
            .showAnalytics
              button(
                ng-show="showPanel !== 'analytics'"
                ng-click="showPanel = 'analytics'; refreshCharts();"
              )
                i.fa.fa-line-chart
                | Analytics
                
        .row(
          ng-show="showPanel === 'tags'"
        )
          div(
            ng-show="tagKeys.length === 0"
          ) You have no tags
          
          .row.tags(
            ng-repeat="tagKey in tagKeys"
          )
            .col-md-2
              .tag {{tagKey}}
            
            .col-md-10
              .tagnote(
                ng-repeat="note in tags[tagKey]"
                marked="note.markdown"
                ng-click="expand(note)"
              )
        
        .row(
          ng-show="showPanel === 'calendar'"
        )
          .calendar(
            ui-calendar="uiConfig.calendar"
            ng-model="eventSources"
          )
          
        .row(
          ng-show="showPanel === 'analytics'"
        )   
          .ch(
            ng-show="labels.length"
          )
            canvas.chart.chart-line(
              chart-data="data" 
              chart-labels="labels" 
              chart-series="series" 
              chart-click="onClick"
            )
            
          div(
            ng-show="!labels.length"
          ) No data matches <b>{{search}}</b>

        .row(
          ng-show="showPanel === 'notes'"
        )
          .notes 
            .empty(
              ng-show="!current.notes.length || current.notes.length === 0"
            )
              h5 There are no notes
              
            .col-md-4(
              ng-repeat="note in current.notes | filter : noteFilter"
            )
              .title
                i.fa.fa-pencil(
                  ng-click="note.editing = true"
                  ng-show="!note.editing"
                )
                i.fa.fa-save(
                  ng-click="note.editing = false; save()"
                  ng-show="note.editing"
                )
                i.delete.fa.fa-trash(
                  ng-click="deleteNote(note)"
                )
                i.expand.fa.fa-expand(
                  ng-click="expand(note)"
                )
              
              .note(
                marked="note.markdown"
                ng-show="!note.editing"
              )
              .wrapper(
                ng-show="note.editing"
              )
                textarea.notearea(
                  ng-class="{'focus': note.focus}"
                  ng-model="note.markdown"
                )
                
.note-modal(
  ng-show="expanded"
)
  .inner
    i.fa.fa-compress(
      ng-click="compress()"
    )
    i.fa.fa-save(
      ng-show="expanded.editing"
      ng-click="save(); expanded.editing = false"
    )
    i.fa.fa-pencil(
      ng-show="!expanded.editing"
      ng-click="expanded.editing = true"
    )
    .wrap
      .expanded(
        ng-show="!expanded.editing"
        marked="expanded.markdown"
      )
      div(
        ng-show="expanded.editing"
      )
        textarea.ex(
          ng-model="expanded.markdown"
        )
